html, body {
    margin: auto;
    height: 100%;
    position: relative;
    font-size: $font-size-base;
    font-family: $font-family-regular;
}

//
// Body
//

body {
    line-height: 1.45;
}

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-heavy;

    &--light {
        font-family: $font-family-light;
    }
}

h1, .h1 {
    font-size: $h1-font-size;
}

h2, .h2 {
    font-size: $h2-font-size;
}

h3, .h3 {
    font-size: $h3-font-size;
}

h4, .h4 {
    font-size: $h4-font-size;
}

h5, .h5 {
    font-size: $h5-font-size;
}

h6, .h6 {
    font-size: $h6-font-size;
}
